MONGO_URI=mongodb+srv://medicare_app:Ou$man786@medicare.ekzezii.mongodb.net/?appName=Medicare
CLOUDINARY_CLOUD_NAME=dnwhj7hxd
CLOUDINARY_API_KEY=985752352456722
CLOUDINARY_API_SECRET=zRxqk6X5uKfcZcmnOsJlYn_KcEA
JWT_SECRET=your_jwt_secret
PORT=4000
